@import "tailwindcss";
@import "tw-animate-css";

@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/mauve-dark.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@keyframes shimmer {
  100% {
    transform: translateX(200%);
  }
}

@theme {
  --color-primary-100: #e6f7ff;
  --color-primary-200: #d8eefb;
  --color-primary-300: #5faee2;
  --color-primary-400: #34a9f6;
  --color-primary-500: #0091ff;
  --color-primary-600: #007bff;
  --color-primary-700: #01456a;
  --color-primary-800: #012d45;
  --color-dark-100: #0b0b0b;
  --color-dark-200: #101319;
  --color-dark-300: #191c26;
  --color-dark-400: #212734;
  --color-dark-450: #2e3645;
  --color-dark-500: #101012;

  --color-light-400: #858ead;
  --color-light-500: #7b8ec8;
  --color-light-600: #c7cfe2;
  --color-light-700: #dce3f1;
  --color-light-800: #e3e9f1;
  --color-light-850: #f7f8fb;
  --color-light-900: #ffffff;

  --color-link-100: #1da1f2;

  --radius-2: 8px;
  --radius-1_5: 6px;
  --radius-1: 4px;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-light-100: 0px 2px 5px 0px rgba(46, 52, 56, 0.1);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  --breakpoint-xs: 420px;

  --font-inter: var(--font-inter);
  --font-esbuild: var(--font-esbuild);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn-social {
  @apply bg-light800_dark400 body-medium text-dark200_light800 rounded-2 hover:bg-light700_dark450! min-h-12 flex-1 cursor-pointer transition-all duration-200;
}

@utility bg-primary100_primary800 {
  @apply bg-primary-100 dark:bg-primary-800;
}

@utility bg-primary200_primary700 {
  @apply bg-primary-200 dark:bg-primary-700;
}

@utility bg-light850_dark100 {
  @apply bg-light-850 dark:bg-dark-100;
}

@utility bg-light700_dark450 {
  @apply bg-light-700 dark:bg-dark-450;
}

@utility bg-light900_dark200 {
  @apply bg-light-900 dark:bg-dark-200;
}

@utility bg-light900_dark300 {
  @apply bg-light-900 dark:bg-dark-300;
}

@utility bg-light900_darkgradient {
  @apply bg-light-900 dark:dark-gradient;
}

@utility bg-light800_darkgradient {
  @apply bg-light-800 dark:dark-gradient;
}

@utility bg-light800_darksecondgradient {
  @apply bg-light-800 dark:dark-secondary-gradient;
}

@utility bg-light800_dark100 {
  @apply bg-light-800 dark:bg-dark-100;
}

@utility bg-light800_dark400 {
  @apply bg-light-800! dark:bg-dark-400!;
}

@utility bg-light700_dark400 {
  @apply bg-light-700 dark:bg-dark-400;
}

@utility bg-light600_dark400 {
  @apply bg-light-600 dark:bg-dark-400;
}

@utility bg-light700_dark300 {
  @apply bg-light-700 dark:bg-dark-300;
}

@utility bg-light800_dark300 {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility bg-light800_dark300/50 {
  @apply bg-light-800/50! dark:bg-dark-300/50!;
}

@utility bg-light800_dark200 {
  @apply bg-light-800 dark:bg-dark-200;
}

@utility bg-light850_dark200 {
  @apply bg-light-850 dark:bg-dark-200;
}

@utility bg-dark400_light900 {
  @apply dark:bg-dark-400! bg-light-900!;
}

@utility text-dark100_light900 {
  @apply text-dark-100! dark:text-light-900!;
}

@utility text-dark200_light900 {
  @apply text-dark-200 dark:text-light-900;
}

@utility text-dark200_light800 {
  @apply text-dark-200! dark:text-light-800!;
}

@utility text-dark300_light700 {
  @apply text-dark-300 dark:text-light-700;
}

@utility text-dark400_light700 {
  @apply text-dark-400 dark:text-light-700;
}

@utility text-dark500_light700 {
  @apply text-dark-500! dark:text-light-700!;
}

@utility text-dark500_light500 {
  @apply text-dark-500 dark:text-light-500;
}

@utility text-dark500_light400 {
  @apply text-dark-500 dark:text-light-400;
}

@utility text-dark300_light900 {
  @apply text-dark-300! dark:text-light-900!;
}

@utility text-dark400_light800 {
  @apply text-dark-400 dark:text-light-800;
}

@utility text-light400_light500 {
  @apply text-light-400! dark:text-light-500!;
  @apply text-light-400! dark:text-light-500!;
}

@utility text-dark400_light500 {
  @apply text-dark-400 dark:text-light-500;
}

@utility text-dark400_light900 {
  @apply text-dark-400! dark:text-light-900!;
}

@utility text-loading {
  @apply [--base-color:#fff] [--base-gradient-color:#98aed4];
}

@utility light-border {
  @apply border-light-800 dark:border-dark-300;
}

@utility light-border-2 {
  @apply border-light-600 dark:border-dark-400;
}

@utility h1-bold {
  @apply text-[30px] leading-10.5 font-bold tracking-tighter;
}

@utility h2-bold {
  @apply text-[24px] leading-[31.2px] font-bold;
}

@utility h2-semibold {
  @apply text-[24px] leading-[31.2px] font-semibold;
}

@utility h3-bold {
  @apply text-[20px] leading-6.5 font-bold;
}

@utility h3-semibold {
  @apply text-[20px] leading-[24.8px] font-semibold;
}

@utility base-medium {
  @apply text-[18px] leading-[25.2px] font-medium;
}

@utility base-semibold {
  @apply text-[18px] leading-[25.2px] font-semibold;
}

@utility base-bold {
  @apply text-[18px] leading-[140%] font-bold;
}

@utility pg-regular {
  @apply text-[16px] leading-[22.4px] font-normal;
}

@utility pg-medium {
  @apply text-[16px] leading-[22.4px] font-medium;
}

@utility pg-semibold {
  @apply text-[16px] leading-[20.8px] font-semibold;
}

@utility body-regular {
  @apply text-[14px] leading-[19.6px] font-normal;
}

@utility body-medium {
  @apply text-[14px] leading-[18.2px] font-medium;
}

@utility body-semibold {
  @apply text-[14px] leading-[18.2px] font-semibold;
}

@utility body-bold {
  @apply text-[14px] leading-[18.2px] font-bold;
}

@utility small-regular {
  @apply text-[12px] leading-[15.6px] font-normal;
}

@utility small-medium {
  @apply text-[12px] leading-[15.6px] font-medium;
}

@utility small-semibold {
  @apply text-[12px] leading-[15.6px] font-semibold;
}

@utility subtle-medium {
  @apply text-[10px]! leading-3.25! font-medium!;
}

@utility subtle-regular {
  @apply text-[10px] leading-3.25 font-normal;
}

@utility placeholder {
  @apply placeholder:text-light-400 dark:placeholder:text-light-500;
}

@utility invert-colors {
  @apply invert dark:invert-0;
}

@utility shadow-light100_dark100 {
  @apply shadow-light-100! dark:shadow-dark-100!;
}

@utility shadow-light100_darknone {
  @apply shadow-light-100! dark:shadow-none!;
}

@utility shadow-light100_dark200 {
  @apply shadow-light-100! dark:shadow-dark-200!;
}

@utility input-otp-group {
  @apply gap-2 *:data-[slot=input-otp-slot]:rounded-md *:data-[slot=input-otp-slot]:border;
}

@utility input-otp-slot {
  @apply light-border-2 xs:size-10! bg-light900_dark300 text-dark300_light700 text-2xl! sm:size-12!;
}

@utility base-filter-btn {
  @apply body-medium rounded-md px-6 py-3 capitalize shadow-none;
}

@utility bg-auth-light {
  background-image: url("/images/auth-light.svg");
}

@utility bg-auth-dark {
  background-image: url("/images/auth-dark.svg");
}

@utility primary-gradient {
  background: linear-gradient(129deg, #0091ff 0%, #5faee2 100%);
}

@utility primary-gradient-hover {
  background: linear-gradient(129deg, #007bff 0%, #34a9f6 100%);
}

@utility dark-card-gradient {
  background: linear-gradient(
    135deg,
    var(--color-dark-300) 0%,
    var(--color-dark-200) 75%
  );
}

@utility dark-gradient {
  background: linear-gradient(
    232deg,
    rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
}

@utility dark-secondary-gradient {
  background: linear-gradient(
    232deg,
    rgba(33, 40, 50, 0.41) 0%,
    rgba(26, 30, 38, 0.7) 100%
  );
}

@utility light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

@utility primary-text-gradient {
  background: linear-gradient(129deg, #00a6ff 0%, #5fbbe2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility primary-text-gradient-hover {
  background: linear-gradient(129deg, #0091ff 0%, #5faee2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

.border-gradient {
  --gradient-angle: 135deg;
  background: conic-gradient(
    from var(--gradient-angle) at 50% 50%,
    #e3e9f1,
    #f1f2f3,
    #dee5f6,
    #f1f2f3,
    #e3e9f1
  );
  transition: --gradient-angle 0.3s ease-out;
}

.dark .border-gradient {
  background: conic-gradient(
    from var(--gradient-angle) at 50% 50%,
    #2e3645,
    #191c26,
    #3a4660,
    #191c26,
    #2e3645
  );
}

.border-gradient:hover {
  --gradient-angle: 225deg;
}

@utility base-input {
  @apply pg-regular bg-light-850! dark:bg-dark-300! text-dark300_light700 light-border-2 min-h-12 border;
}

@utility md-editor-fallback {
  @apply bg-light800_dark200 light-border-2 flex h-99 w-full items-center justify-center rounded-md border;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-start {
  @apply flex items-center justify-start;
}

@utility flex-end {
  @apply flex items-center justify-end;
}

@utility card-wrapper {
  @apply bg-light-900 dark:dark-gradient shadow-light-100! dark:shadow-dark-100;
}

@utility dev-card {
  @apply shadow-light100_darknone! bg-light-900! dark:dark-card-gradient! rounded-2xl! border-none! p-4!;
}

@utility btn {
  @apply bg-light-800! dark:bg-dark-300!;
}

@utility btn-secondary {
  @apply bg-light-800! dark:bg-dark-400!;
}

@utility btn-tertiary {
  @apply bg-light-700! dark:bg-dark-300!;
}

@utility form-field-card {
  @apply bg-card outline-border/50 light-border-2 rounded-xl border p-6 shadow-xs outline outline-offset-1;
}

@utility no-focus {
  @apply focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0!;
}

@utility smooth-hover {
  @apply transition-none ease-out not-[&:hover]:transition-colors not-[&:hover]:duration-150 hover:transition-none;
}

@utility markdown {
  @apply prose prose-p:my-2 prose-ol:my-0 prose-ul:my-0 dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500 max-w-full!;
}

@utility markdown-editor {
  @apply prose prose-p:m-1 prose-headings:mx-1 prose-ul:mx-1 prose-ol:mx-1 dark:prose-headings:text-white prose-headings:text-dark-400 prose-p:text-dark-500 dark:prose-p:text-light-700 prose-ul:text-dark-500 dark:prose-ul:text-light-700 prose-ol:text-dark-500 dark:prose-ol:text-light-700 dark:prose-strong:text-white prose-blockquote:text-dark-500 dark:prose-blockquote:text-light-700 group-aria-invalid:border-destructive! group-aria-invalid:focus-within:ring-destructive/20! group-aria-invalid:dark:focus-within:ring-destructive/40! max-w-full! rounded-md;
}

@utility tab {
  @apply data-[state=active]:text-light-900! text-dark400_light500! data-[state=active]:border-none! data-[state=active]:bg-transparent! data-[state=active]:shadow-none!;
}

@utility tab-panel {
  @apply flex-center pg-medium text-dark400_light500 h-9 w-fit rounded-sm px-3;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--muted);
  cursor: pointer;
}
::-webkit-scrollbar-thumb:active {
  background: var(--border);
  cursor: pointer;
}
* {
  scrollbar-width: thin;
}
html {
  scrollbar-color: var(--color-light-600) transparent;
}
.dark {
  scrollbar-color: var(--color-dark-400) transparent;
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html:has([no-scrollbar]),
body:has([no-scrollbar]) {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html:has([no-scrollbar])::-webkit-scrollbar,
body:has([no-scrollbar])::-webkit-scrollbar {
  display: none;
}

body:has([data-scroll-locked]) {
  margin-right: 0px !important;
  overflow: visible !important;
}

.no-copy {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

.mdxeditor-toolbar {
  background: #ffffff !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #fff !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

.dark .mdxeditor-root-content a {
  color: #ffffff !important;
}

.dark .mdxeditor-root-content a:hover {
  color: #e5e7eb !important;
}

.dark .mdxeditor-root-content a:visited {
  color: #d1d5db !important;
}

.markdown a {
  color: var(--color-link-100);
}

.markdown a,
code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: 2px;
  color: #00a6ff !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;

  color: inherit !important;
}

[data-lexical-editor="true"] {
  height: 350px !important;
  overflow-y: auto !important;
}

.dark .dark-editor {
  --accentBase: var(--tomato-1);
  --accentBgSubtle: var(--tomato-2);
  --accentBg: var(--primary);
  --accentBgHover: var(--tomato-4);
  --accentBgActive: var(--color-primary-700);
  --accentLine: var(--tomato-6);
  --accentBorder: var(--color-primary-600);
  --accentBorderHover: var(--tomato-8);
  --accentSolid: var(--primary);
  --accentSolidHover: var(--tomato-10);
  --accentText: var(--tomato-11);
  --accentTextContrast: var(--tomato-12);

  --baseBase: var(--mauve-1);
  --baseBgSubtle: var(--mauve-2);
  --baseBg: var(--mauve-3);
  --baseBgHover: var(--mauve-4);
  --baseBgActive: var(--mauve-5);
  --baseLine: var(--mauve-6);
  --baseBorder: var(--mauve-7);
  --baseBorderHover: var(--mauve-8);
  --baseSolid: var(--mauve-9);
  --baseSolidHover: var(--mauve-10);
  --baseText: var(--mauve-11);
  --baseTextContrast: var(--mauve-12);

  --admonitionTipBg: var(--cyan4);
  --admonitionTipBorder: var(--cyan8);

  --admonitionInfoBg: var(--grass4);
  --admonitionInfoBorder: var(--grass8);

  --admonitionCautionBg: var(--amber4);
  --admonitionCautionBorder: var(--amber8);

  --admonitionDangerBg: var(--red4);
  --admonitionDangerBorder: var(--red8);

  --admonitionNoteBg: var(--mauve-4);
  --admonitionNoteBorder: var(--mauve-8);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  color: var(--baseText);
  --basePageBg: black;
  background: var(--basePageBg);
}

/* NESTED CODE BLOCKS: Only apply grid to visible code blocks */
[data-bright-mode="dark"]:not(html.light [data-bright-mode="dark"]),
[data-bright-mode="light"]:not(:not(html.light [data-bright-mode="light"])) {
  display: grid !important;
  width: 100% !important;
}
/*
  ---break---
*/
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9792 0.0041 271.37);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.6515 0.191972 251.4696);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(89.349% 0.01303 244.478);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: #e3e9f1;
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.6515 0.191972 251.4696);
  --chart-1: oklch(60.483% 0.21664 257.23);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(100% 0.00011 271.152);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.6515 0.191972 251.4696);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.1496 0 0);
  --foreground: oklch(0.984 0.003 247.858);
  --card: var(--color-dark-200);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: var(--color-dark-200);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.6515 0.191972 251.4696);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: var(--color-dark-200);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: var(--color-dark-300);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(66.78% 0.21944 22.987);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.6515 0.191972 251.4696);
  --chart-1: oklch(60.483% 0.21664 257.23);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--color-dark-200);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.6515 0.191972 251.4696);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: var(--color-dark-400);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  body[data-scroll-locked] {
    margin-right: 0px !important;
    overflow: visible !important;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
